h1,
h2,
    {
    color: #0f8828;
    font-family: 'arial';
    font-size: 2em
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(17, 151, 44, 0.2)), url("../images/background3.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

a:hover {
    color: #0c9048;
}

#pics {
    border: 5px solid #4287f5;
}
