 h1,
 h2 {
     color: rgb(0, 0, 50);
     font-family: 'arial';
     background-color: cornsilk
 }

 body {
     background-color: floralwhite
 }

 main {
     background-color: floralwhite
 }

 #somename {
     color: #d2afac;
 }

 #someothername {
     color: #d2afac;
     font-style: italic
 }
